<!DOCTYPE html>
<html>
<!-- The Header Section -->
<head>
    <title>{{ title }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="./static/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/81dd7b58e4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/templateStyles.css">
</head>

<body class = 'animated-gradient'>
    <div class = 'container'>
        <section id='header'>
            <div class = "header">
                <h1 id='title'>{{ title }}</h1>
                
            </div>
        </section>
        <!-- The Body of the Blog Section -->
        <section id="blog" class="blog-post">
            <div class = "blog">
                <img id='blogTitleImage' src="{{ image }}" alt="Blog Title Image">
                <p id = 'date'> {{ date }} </p>
                
                {% for item in bodyList %}
                {% if item.keys() | count == 1 %}
                <{{ item.keys() | first }}>{{ item.values() | first }}</{{ item.keys() | first }}>
                {% else %}
                <p>{{ item.values() | first }}</p>
                {% endif %}
                {% endfor %}
            </div>

        </section>

        <!-- Footer Section -->
        <section id = 'footer'>
            <div class = 'footer'>
                <!-- <button class = "goBack"  onclick="location.href='http://aniketjha.pythonanywhere.com'" type="button" ><i class="fa fa-arrow-left fa-sm backIcon"></i> Back</button> -->
                <button class = "goBack"  onclick="location.href='http://aniketjha.pythonanywhere.com'" type="button" ><i class="fa fa-arrow-left fa-sm backIcon"></i> Back</button>
                <p> Author: Aniket Jha</p>

            </div>
        </section>
    </div>

</body>

</html>